@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");

* {
  font-family: "Comfortaa", cursive;
  text-align: center;
}

body {
  background-color: #45414d;
  color: #ffffff;
}

/* header */
h1 {
  font-size: 40px;
}

.fa-hand-back-fist {
  color: #ff2020;
}

.fa-hand {
  color: #ff7b20;
}

.fa-hand-scissors {
  color: #f1c40f;
}

.fa-hand-lizard {
  color: #00cc00;
}

.fa-hand-spock {
  color: #0093ff;
}

/* Game Area */

.game-area {
  display: inline-block;
  margin: 1% 3%;
}

#player-choice {
  width: 140px;
  height: 140px;
  border: 2px solid #ffffff;
  border-style: dashed;
  border-radius: 50%;
}

#computer-choice {
  width: 140px;
  height: 140px;
  border: 2px solid #ffffff;
  border-style: dashed;
  border-radius: 50%;
}

#choices {
  margin: 0 auto;
  padding-top: 10px;
}

#choices img {
  width: 75px;
  height: 75px;
}

#choices img:hover {
  border: 2px solid #ffffff;
  border-style: dashed;
  cursor: pointer;
  border-radius: 50%;
}

#player-score {
  padding-top: 5px;
}

h2 {
  font-size: 35px;
}

p {
  font-size: 25px;
  padding-bottom: 10px;
}

#result {
  font-size: 30px;
  width: 100%;
  background-color: gold;
  color: #45414d;
  padding: 0.5% 0;
  margin: 5% 0;
}

/*rules button*/
#rules-button {
  position: relative;
  top: 50%;
  background-color: #ffffff;
  color: #45414d;
  border: none;
  border-radius: 25px;
  padding: 15px;
  min-height: 30px;
  margin-top: 3%;
}

#rules-button:hover {
  cursor: pointer;
  background-color: #45414d;
  color: #ffffff;
  border: #ffffff;
  border-style: dashed;
}

.game-rules {
  font-family: Condensed, sans-serif;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.rules-content {
  background-color: #fefefe;
  color: #45414d;
  margin: 15% auto;
  padding: 20px;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Footer */

footer {
  position: absolute;
  bottom: 0;
}

.credit {
  font-size: 60%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #title-area {
    font-size: 27px;
    margin: 5% 0;
  }

  h3 {
    padding-top: 5%;
    margin: 3% 0;
  }

  .game-area {
    margin: 5% 10%;
  }

  #rules-button {
    margin-top: 10%;
  }

  .rules-content {
    width: 80%;
  }
}

@media screen and (max-width: 420px) {
  #title-area {
    font-size: 13px;
  }

  h3 {
    padding-top: 20%;
  }

  #choices {
    padding: 0;
  }

  .game-area {
    padding: 45px 0;
  }
  
  #player-choice {
    width: 75px;
    height: 75px;
  }
  
  #computer-choice {
    width: 75px;
    height: 75px;
  }

  #player-score {
    padding: 0;
    font-size: 15px;
  }

  #computer-score {
    padding: 0;
    font-size: 15px;
  }

  h2 {
    font-size: 15px;
  }

  #rules-button {
    margin: 20% 0;
  }

  .rules-content h1 {
      font-size: 25px;
  }

  .rules-content h3 {
    font-size: 19px;
  }
}

@media screen and (max-width: 320px) {
  #title-area {
    font-size: 11px;
  }

  h3 {
    padding-top: 4%;
  }

  #choices {
    padding: 0;
  }

  #choices img {
    width: 50px;
    height: 50px;
  }

  .game-area {
    padding: 0;
    margin: 0 10%;
  }
  
  #player-choice {
    width: 75px;
    height: 75px;
  }
  
  #computer-choice {
    width: 75px;
    height: 75px;
  }

  #player-score {
    padding: 0;
    font-size: 15px;
  }

  #computer-score {
    padding: 0;
    font-size: 15px;
  }

  #results {
    font-size: 20px;
    padding: 1.5% 0;
    margin: 3% 0;
  }

  h2 {
    font-size: 15px;
  }

  #rules-button {
    margin: 7%;
  }

  .rules-content {
    font-size: 10px;
    height: -webkit-fill-available;
  }

  .rules-content h1 {
    font-size: 12px;
  }

  .rules-content h3 {
    font-size: 9px;
  }


}